<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= profile.name %></h1>
  <% if (profile?.avatar) { %>
    <div>
      <img 
        src="<%= profile.avatar %>" 
        alt="<%= profile.name %> avatar"
      >
    </div>
  <% } %>
  <h1>Saved Playlists</h1>

  <%# This is where we'll add a button to 'friend/unfriend' a user %> 
  <%# if this is not my profile page          &&  the user being viewed is not in my friends list %> 
  <% if (!profile._id.equals(userProfile._id) && !userProfile.friends.includes(profile._id)) { %>
    <a href="/friends/add/<%= profile._id %>" class="btn btn-dark">
      + Add Friend
    </a>
  <% } %>
  <%# if this is not my profile page          &&  the user being viewed is in my friends list %> 
  <% if (!profile._id.equals(userProfile._id) && userProfile.friends.includes(profile._id)) { %>
    <a href="/friends/remove/<%= profile._id %>" class="btn btn-dark">
      Remove Friend
    </a>
  <% } %>
<table class="table table-light">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Playlist Name</th>
        <th scope="col">Songs</th>
        <th scope="col">Date-Created</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        <% for( let index = 0; index < playlists.length; index++ ) { %>
          <% var trackCount = 0 %>
            <tr>
                <th scope="row"><%= index+1 %></th>
                <td><%= playlists[index].name %> </td>
                <td>
                  <% playlists[index].songs.forEach(element => { %>
                    <% trackCount++ %>
                    <% }) %> 
                  <%= trackCount %> 
                  <% trackCount = 0 %> 
                </td>
                <td><%= playlists[index].createdAt.toLocaleDateString() %></td>
                <td>
                    <form action="/playlists/details/<%= playlists[index]._id %> " method="GET">
                        <button type="submit">Details</button>
                    </form>
                </td>
                <% } %>
            </tr>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>