<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= profile.name %></h1>
  <% if (profile?.avatar) { %>
    <div>
      <img 
        src="<%= profile.avatar %>" 
        alt="<%= profile.name %> avatar"
      >
    </div>
  <% } %>
  <h1>Saved Playlists</h1>
  <form action="/friends/add/<%= profile.id %> ">
        <button type="submit">+ Add Friend</button>
  </form>
<table class="table table-light">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Playlist Name</th>
        <th scope="col">Songs</th>
        <th scope="col">Date-Created</th>
      </tr>
    </thead>
    <tbody>
        <% for( let index = 0; index < playlists.length; index++ ) { %>
          <% var trackCount = 0 %>
            <tr>
                <th scope="row"><%= index+1 %></th>
                <td><%= playlists[index].name %> </td>
                <td>
                  <% playlists[index].songs.forEach(element => { %>
                    <% trackCount++ %>
                    <% }) %> 
                  <%= trackCount %> 
                  <% trackCount = 0 %> 
                </td>
                <td><%= playlists[index].createdAt.toLocaleDateString() %></td>
                <% } %>
            </tr>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>