<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1 class="whiteHeaders">hello, <%= user ? user.profile.name : "friend" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
      class="img-thumbnail"
        src="<%= user.profile.avatar %>" 
        alt="<%= user.profile.name %> avatar"
      >
    </div>
  <% } %>
  <h2 class="whiteHeaders titleHeader"><i>Set the #VIBE for your day...</i></h2>
  <form action="/playlists/create" id="artistsForm">
    <div class="mb-3">
      <label for="artist1" class="form-label">Enter your favorite artist:</label>
      <input type="text" class="form-control" name="firstArtist" required>
    </div>
    <div class="mb-3">
      <label for="artist2" class="form-label">Enter an artist you've listened to lately:</label>
      <input type="text" class="form-control" name="secondArtist" required>
    </div>
    <div class="mb-3">
      <label for="artist3" class="form-label">Okay one more! An artist you've been vibing with:</label>
      <input type="text" class="form-control" name="thirdArtist" required>
    </div>
    <div class="row">
      <div class="col-md-auto">
        <label for="mood" class="form-label">Number of Tracks:</label><br>
        <input type="text" name="numberOfTracks" placeholder="optional">
      </div>
      <div class="col-md-auto">
        <label class="form-label">Genre:</label><br>
        <input type="text" name="genres" placeholder="optional">
      </div>
    </div>
    <div class="col text-center">
      <button type="submit" class="btn btn-dark" form="artistsForm" id="playlistSubmitButton">Submit</button>
    </div>
  </form>
  
</main>

<%- include('./partials/footer') %>
