<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% let userPlaylist = playlist.savedBy.some(profile => profile._id.equals(user.profile._id)) %> 
  <%= console.log(`playlist saved by: ${playlist.savedBy}`) %> 
  <%= console.log(`user: ${user}`) %> 

  <h2 class="playlistName"><%= playlist.name %></h2>
  <% if (userPlaylist) { %>
    <h4 class="whiteHeaders saveIt">Sick of It? Delete It</h4>
    <form action="/playlists/<%= playlist._id %>?_method=DELETE" method="POST">
       <button type="submit" class="btn btn-info" id="addPlaylistButton">Delete</button>
    </form>  
  <% } %>
  <ul class="list-group">
      <% playlist.songs.forEach(song => { %>
        <li class="list-group-item songRow"><img  class="albumArt" src="<%= song.mediumImage %>" alt=""><span >&#8193</span><%= song.name %> - <%= song.artist %> </li>
      <% }) %>
  </ul>
</main>

<%- include('../partials/footer') %>
