<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>hello, <%= user ? user.profile.name : "friend" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img 
        src="<%= user.profile.avatar %>" 
        alt="<%= user.profile.name %> avatar"
      >
    </div>
  <% } %>
  <h4>Love it? Save it!</h4>
  <form action="/playlists/savePlaylist" method="POST">
     <input type="text" name="playlist" hidden value="<%= JSON.stringify(recommendedRandomPlaylist)%>"> 
     <input type="text" name="title"  hidden value="<%= randomPlaylistName %>">
     <button type="submit" class="btn btn-dark">Save to Profile</button>
  </form>  
  <form action="/playlists/AddToUserSpotify" method="POST">
    <input type="text" name="playlistName" hidden value="<%= randomPlaylistName %>"> 
    <input type="text" name="playlist" hidden value="<%= JSON.stringify(recommendedRandomPlaylist)%>"> 
      <button>+ Add to Spotify</button>
  </form>
  <h2><%= randomPlaylistName %></h2>
  <ul class="list-group">
      <% recommendedRandomPlaylist.forEach(song => { %>
        <li class="list-group-item"><img src="<%= song.mediumImage %>" alt=""><%= song.name %> - <%= song.artist %> </li>
      <% }) %>
  </ul>
</main>

<%- include('../partials/footer') %>
