<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>


<main>
<h1 class="whiteHeaders titleHeader">My Playlists</h1>
<table class="table table-light playlistTable">
    <thead class="thead-dark playlistTable">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Playlist Name</th>
        <th scope="col">Songs</th>
        <th scope="col">Date-Created</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        <% for( let index = 0; index < playlists.length; index++ ) { %>
          <% var trackCount = 0 %>
            <tr>
                <th scope="row"><%= index+1 %></th>
                <td><%= playlists[index].name %> </td>
                <td>
                  <% playlists[index].songs.forEach(element => { %>
                    <% trackCount++ %>
                    <% }) %> 
                  <%= trackCount %> 
                  <% trackCount = 0 %> 
                </td>
                <td><%= playlists[index].createdAt.toLocaleDateString() %></td>
                <td>
                    <form action="/playlists/details/<%= playlists[index]._id %> " method="GET">
                    <button class="btn btn-dark" type="submit">Details</button>
                    </form>
                </td>
                <% } %>
            </tr>
    </tbody>
  </table>

</main>

<%- include('../partials/footer') %>